.sum {
  height: 100% !important;
  width: 100% !important;
  background: url(../../assets/img/backgrounds/forest.jpg) fixed no-repeat center center;
  /* <a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by brgfx - www.freepik.com</a> */
  background-size: cover;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
}

.container-summary {
  border: 15px solid orange;
  max-height: 100vmax !important;
}

.top-row, .row-middle, .bottom-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 !important;
  padding: 0 !important;
}

.col {
  margin: 0 !important;
  padding: 0 !important;
}

img {
  border: 15px solid orange !important;
  width: 100%;
  height: 100%;
  position: relative;
}

.col:hover img {
  opacity: 0.7;
}